meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="preload" crossorigin="" as="font" href="/interossea/fonts/inter-latin-900-normal.woff2")
link(rel="preload" crossorigin="" as="font" href="/interossea/fonts/inter-latin-400-normal.woff2")
link(rel="preload" crossorigin="" as="font" href="/interossea/fonts/inter-latin-600-normal.woff2")
link( rel="stylesheet" href="/interossea/style.css")
link(rel="shortcut icon", href="/interossea/favicon.svg", type="image/svg")