div.notice Akkount is a project by Paul Colin Hennig 
        a(rel="noreferrer" href="https://y.gy") y.gy 
        |  that is provided free of charge and without any warranty. The project is self-hosted by each entity using it. Every entity is responsible for their own users data. Direct electronic contact information has to be provided in the 
        a(rel="noreferrer" href="/legal") Legal Notice 
        | so that users can easily contact the entity responsible for their data on this instance.
        | This notice has to be provided and may not be removed.