@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-display: swap;
    src: local("Inter"), url("/fonts/inter-latin-900-normal.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-display: swap;
    src: local("Inter"), url("/fonts/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-display: swap;
    src: local("Inter"), url("/fonts/inter-latin-600-normal.woff2") format("woff2");
}

* {
    user-select: none;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "Inter", sans-serif;
    --primary: darkorange;
    --text-color: black;
    overflow: hidden;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: auto;
    text-align: left;
    width: 50%;
    max-width: 450px;
    min-width: 300px;
}

b {
    font-weight: 600;
}
div,
section {
    padding: 5px 0px;
}

a {
    color: var(--primary);
    font-weight: 600;
}

h1,
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding-top: 10px;
}
footer {
    margin-top: 50px;
}

footer > a {
    padding-right: 10px;
}

.notice {
    font-size: 12px;
    color: var(--dimmed-text);
    padding-top: 10px;
    opacity: 30%;
}

.notice a {
    color: var(--text-color);
}

button {
    border: none;
    background: var(--primary);
    width: 100%;
    font-size: 20px;
    height: 55px;
    font-weight: 900;
    cursor: pointer;
    margin: 10px 0px;
}

.emailInput {
    height: 55px;
    display: block;
    border-bottom: 2px solid var(--text-color);
}
input {
    height: 100%;
    outline: none;
    border: none;
    width: calc(100% - 50px);
    display: block;
    float: left;
    font-size: 20px;
    padding-left: 10px;
}

label.icon {
    float: left;
    height: 100%;
    width: 50px;
    background-size: 34px;
    background-position: 52% 125%;
    background-repeat: no-repeat;
    font-size: 12px;
    text-align: center;
}
label[for="email"] {
    background-image: url("/images/mail.svg");
}

.hidden {
    display: none;
}

*:disabled {
    background: var(--primary);
    color: var(--text-color);
    opacity: 20%;
    cursor: default;
}

#default,
#waiting,
#success {
    height: 150px;
}

#waiting {
    text-align: center;
}

#success h1 {
    margin-top: 0px;
}

.emailInput {
    margin-top: 10px;
}

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: scale(0.6);
    transform-origin: center;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--text-color);
    border-color: var(--text-color) transparent var(--text-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
