html(lang="en")
    head
        include /modules/head.pug
        title Login
    body 
        main 
            h1 Login
            section#form
                div No classic registration required! 
                | Upon entering your E-Mail we will send you a link to login.
                div.emailInput
                    label(for="email").icon E-Mail
                    input#email(type="email" name="email" spellcheck="false" placeholder="mail@example.com")
                button(disabled)#login Login
                div#statusMessage
            section#waiting.hidden
                div.lds-dual-ring
                div Please wait...
            section#success.hidden
                h1 Success!
                div A link was sent to your E-Mail. Please open it on the same browser/device. The mail delivery may take a moment. Don't forget to check your spam folder.
        include /modules/footer.pug
        script(src="script.js") 
